<!-- basically don't want people to make a meal from one of the recipes and sue me haha -->
<div class="footerDescription">Not liable for any medical complications brought about by recipes.</div>

</body>
</html>