<%- include("../partials/header") %>
<!-- used multiple divs for better layout -->

<div class="top_area">
    <div class="top_wrapper" id="top_wrapper">
        <div class="inner_wrapper">
            <div class="container">
                <div class="row">
                    <div class="anotherRow1">
                        <div class="anotherRow2"> 
                            <p class="text-center">                            
                                <h1 class="logo">QuickEats<span class="colored">.</span></h1>
                                <p class="lead">End-of-week dinner plan pains? Tired of having to think of unique meals with what you have? Or Running out of groceries to cook?</p>
                                <p class="follow">QuickEats is for anyone wanting to make a meal with ingredients they already have at home!</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row1">
    <div class="scrollingbox">
        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
            <div class="bottom_area" id="bottom_area">
                <div class="inner_wrapper">
                    <div class="row text-center">
                        <!-- using bootstrap grid system to format page -->
                        <div class="col-md-4 ingredients123">
                            <h5>Ingredients</h5>
                            <img src="https://img.icons8.com/wired/64/000000/raspberry.png"/>
                            <!-- br is for spacing (can be done in css too) -->
                            <br>
                            <br>
                            <p>All you need to get started is what you have in your refrigerator.</p>
                        </div>
                        <div class="col-md-4 recipe123">
                            <h5>Recipe</h5>
                            <img src="https://img.icons8.com/wired/64/000000/nook.png"/>
                            <!-- br is for spacing (can be done in css too) -->
                            <br>
                            <br>
                            <p>Our website will provide multiples choices to choose from.</p>
                        </div>
                        <div class="col-md-4 food123">
                            <h5>Eat and Enjoy</h5>
                            <img src="https://img.icons8.com/wired/64/000000/noodles.png"/>
                            <!-- br is for spacing (can be done in css too) -->
                            <br>
                            <br>
                            <p>Enjoy your meal in the peacefulness of your home with family and friends.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="linksWrapper" id="bottom_center">
                <div class="inner_wrapper">
                    <div class="row text-center">
                        <!-- using bootstrap grid system to format page -->
                        <div class="col-md-6 wheretoBegin">
                        <h4 id="item-2">Where to Begin</h4>
                            <p class="info1">To get started please click on the button below:</p>
                            <p class="info2"><a class="btn btn-secondary" href="/Form">Let's Begin!</a></p>
                        </div>
                        <div class="col-md-6 wheretoseeResults">
                        <h4 id="item-3">Where to See Results</h4>
                            <p class="info1">After going filling the form in the Let's Get Started page, please head over to the Meal Time! page for recipe results.</p>
                            <p class="info2"><a class="btn btn-secondary" href="/Results">See Results!</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="citationAbout">
    <p>Photos from: </p>
    <p>Flint Rehab and Icon8</p>
</div>
<%- include("../partials/footer") %>
