<%- include("../partials/header") %>
<!-- the data interval is the timed changed for the slides, the class is what makes the images become a carousel  -->
<div id="carouselIndicator" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2700">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carouselIndicator" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicator" data-slide-to="1"></li>
        <li data-target="#carouselIndicator" data-slide-to="2"></li>
        <li data-target="#carouselIndicator" data-slide-to="3"></li>
        <li data-target="#carouselIndicator" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <!-- setting the first one as active so active can be changed to the slide that we want to show up  -->
        <div class="carousel-item active">
            <img class="fluid picture2" src="https://images.unsplash.com/photo-1493787039806-2edcbe808750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Nature">
            <h1 class="h1First"> From Nature </h1>
        </div>
        <div class="carousel-item item2">
            <img class="fluid picture3" src="https://images.unsplash.com/photo-1551924769-258e56dae218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80" alt="Farm">
            <h1 class="h1Second"> Or...Farm </h1>
        </div>
        <div class="carousel-item">
            <img class="fluid picture4" src="https://images.unsplash.com/photo-1556912998-c57cc6b63cd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Kitchen">
            <h1 class="h1Third"> To Kitchen </h1>
        </div>
        <div class="carousel-item">
            <img class="fluid picture5" src="https://images.unsplash.com/photo-1547573854-74d2a71d0826?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Food">
            <h1 class="h1Fourth"> Enjoy Meals </h1>
        </div>
        <div class="carousel-item">
            <img class="fluid picture6" src="https://images.unsplash.com/photo-1533777419517-3e4017e2e15a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="Family">
            <h1 class="h1Fifth"> With Family Again </h1>
        </div>
    </div>

 <!-- Prev and Next Controls -->
    <!-- here the href is the slide indacator set above in the li's data-target -->
    <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="indexButtons">
    <a class="btn btn-md btn-secondary indexButton1" href="/About">Learn More About Us!</a>
    <a class="btn btn-md btn-secondary indexButton2" href="/Form">Let's Begin!</a>
</div> 
<div class="citationIndex">
    <p>Citations: </p>
    <p>Dawson, Tina. “Person in Kitchen.” Unsplash, 2019, unsplash.com/photos/81NGFBVfa_g.</p>
    <p>Merchán Montes, Pablo. “Family Dinner in Manizales, Colombia.” Unsplash, 2018, unsplash.com/photos/wYOPqmtDD0w.</p>
    <p>Morgan, Robson Hatsukami. “Fishing.” Unsplash, 2020, unsplash.com/photos/qr7tsSwDOg0.</p>
    <p>Singapore, BBH. “Agriculture.” Unsplash, 2018, unsplash.com/photos/d2hs0gRFCpQ.</p>
    <p>Vladimirov, Stefan. “Mechi Chal Local Food. .” Unsplash, 2019, unsplash.com/photos/Q_Moi2xjieU.</p>
</div>
<%- include("../partials/footer") %>
